@font-face {
font-family: '28 Days Later';
src: url('28 Days Later.eot?') format('eot'),
     url('28 Days Later.otf') format('truetype'),
     url('28 Days Later.woff') format('woff'),
     url('28 Days Later.svg#28daysBold') format('svg');
font-weight: normal;
font-style: normal;
}
body{
  background-image: url(images/matrix.jpg)
}
#maphoto{
  text-align: center;
}
#maphoto img{
  border-radius: 280px;
  height: 200px;
}
  #textintro{
    text-align: center;
    background-color: white;
  box-shadow: 10px 10px 10px green
  }
  #textintro h1 {
    font-family: "28 Days Later";
    font-size: 45px;
    color: black;
  }
  #textintro p{
    font-family: "28 Days Later";
    font-size:40px;
    color:green
  }
  #general{
    width: 100%;
  display: block;
  border-radius: 20px;
  }

#colone1{
width: 33%;
height: 300px;
background-color: #083017;
display: inline-block;
float: left;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
#colone1 h2{
  font-size: 25px;
  text-align: center;
  text-decoration:underline;
  font-family: "28 days later";
}
#colone1 li{
font-size: 20px;
line-height: 50px;
color: white;
font-family: "28 days later";
}
#colone2{
width: 33%;
height: 300px;
background-color: #083003;
display: inline-block;
text-align: center;
padding-left: 13px;
}
#colone2 h2{
font-family: '28 days later';
font-size: 20px;
text-decoration: underline;
text-align: center;
}
#colone2 li{
  font-size:20px;
  line-height: 50px;
  color: white;
  font-family: "28 days later";
}
#colone3{
width: 33%;
height: 300px;
background-color: #041902;
float: right;
display: inline-block;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
#colone3 h2{
  font-family: '28 days later';
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  }
  #colone3 li{
    font-size:20px;
    line-height: 50px;
    color: white;
    font-family: "28 days later";
  }
  #contact{
    background-color: #0D4A05;
    border-radius: 20px;
    font-family: "28 days later";
}
#contact h1{
  text-decoration: underline;
  font-size: 20px;
  padding-left: 20px;
}
#contact p{
  padding-left: 30px;
  color: white;
}
